<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="robertcurtis.jingnicai.sidiamadou.tutor.tutorapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- welcome page -->
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- sign up page -->
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- sign up personal info page -->
        <activity
            android:name=".PersonalInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <!-- login page -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!-- main page -->
        <activity
            android:name=".LandingPageActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <!-- skill -->
        <activity
            android:name=".SkillPageActivity"
            android:label="@string/title_activity_skill_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- tutor search -->
        <activity
            android:name=".TutorSearchActivity"
            android:label="@string/title_activity_tutor_search"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- student search -->
        <activity
            android:name=".StudentSearchActivity"
            android:label="@string/title_activity_student_search"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- my student -->
        <activity
            android:name=".MyStudentsActivity"
            android:label="@string/title_activity_my_students"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- my tutor -->
        <activity
            android:name=".MyTutorsActivity"
            android:label="@string/title_activity_my_tutors"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- person -->
        <activity
            android:name=".DisplayPersonActivity"
            android:label="@string/title_activity_display_person"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- activity -->
        <activity android:name=".DisplaySkillActivity"></activity>
    </application>

</manifest>